song.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cancion" type="CancionType"/>
  <xs:complexType name="compositorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombres"/>
      <xs:element type="xs:string" name="apellidos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compositoresType">
    <xs:sequence>
      <xs:element type="compositorType" name="compositor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombres"/>
      <xs:element type="xs:string" name="apellidos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoresType">
    <xs:sequence>
      <xs:element type="productorType" name="productor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancionType">
    <xs:sequence>
      <xs:element type="xs:string" name="titulo"/>
      <xs:element type="compositoresType" name="compositores"/>
      <xs:element type="productoresType" name="productores"/>
      <xs:element type="xs:string" name="sello"/>
      <xs:element type="xs:string" name="artista"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="duracion"/>
    <xs:attribute type="xs:string" name="anio"/>
  </xs:complexType>
</xs:schema>